<div class="container mt-4">
  <div class="columns is-centered">
    <div class="box column is-two-third">
      <section class="hero is-link mb-4">
        <div class="hero-body">
          <h3 class="title">Password Generator</h3>
          <h4 class="subtitle">
            A simple application to help you generate a password's which you can
            store for future use.
          </h4>
        </div>
      </section>
      <div class="field">
        <label class="label">Enter Length</label>
        <input class="input" type="text" (input)="onChangeLength($event)" />
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeInclusion('letters')" />
            Use Letters
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeInclusion('numbers')" />
            Use Numbers
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeInclusion('symbols')" />
            Use Symbols
          </label>
        </div>
      </div>

      <div>
        <button
          class="button is-link"
          (click)="onButtonClick()"
          [disabled]="
            !(length && (includeLetters || includeNumbers || includeSymbols))
          "
        >
          Generate!
        </button>
      </div>

      @if (password) {
      <div class="field">
        <label class="label">Your Password</label>
        <input class="input" type="text" [value]="password" disabled />
      </div>
      }
    </div>
  </div>
</div>
